table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: cornflowerblue;
}

td,
th {
    border: 1px solid #87ceeb;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #87ceeb;
}