* {
    padding: 0px;
    margin: 0px;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

img{
    width: auto;
    height: auto;
    display: block;
}