.left {
    float: left;
}

.right {
    float: right;
}

.page-wrapper{
    width: 100%;
    min-width: 1150px;
    height: auto;
}

.wrapper {
    width: 1150px;
    min-width: 1150px;
    margin: 0 auto;
}

/* navbar-header start */

