.main-page {
    width: 100%;
    padding: auto;
}

.wrapper {
    width: 1169px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-wrapper {
    background-color: #f3f3f3;
    margin: 0px auto;
}

.header-top {
    padding: 21px 0px 29px 9px;
}

.navbar-button {
    width: 120px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
}

.search {
    width: 120px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
}

.block1-bottom .side-content-left {
    width: 220px;
}

.header-bottom1 {
    line-height: 80px;
    vertical-align: middle;
    background-color: #ececec;
}

.header-bottom .header-bottom1 h2 {
    padding-left: 9px;
    color: #a9b1b1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.header-bottom .header-bottom1 a{
    color: #a9b1b1;
}

.header-bottom .header-bottom1 .gap {
    padding-right: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.header-bottom .header-bottom1 .gap:last-child {
    padding-right: 0px;
}

.header-bottom2 {
    background-color: #f3f3f3;
}

.block1-bottom {
    padding-top: 73px;
}

.block1-bottom .top h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #acb2b3;
}

.block1-bottom .top-gap {
    padding-top: 37px;
}

.block1-bottom .top-gap .list-style-image li {
    list-style-image: url(../images/list-style-image.png);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 13px;
    color: #cccccc;
}

.block1-bottom .mid-content {
    width: 552px;
}

.block1-bottom .mid-content .top p {
    text-align: justify;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #c9c9c9;
}

.block1-bottom .mid-content .top p a {
    color: #e68882;
    text-decoration: underline;
}

.block1-bottom .side-content-right {
    width: 253px;
}

.body .block1 .block1-top h2 {
    padding-top: 43px;
    padding-bottom: 28px;
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e68882  ;
}

.body .block1 .block1-top p {
    line-height: 19px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #c8cdcf;
}

.mid-semi-arc {
    height: 58px;
    widows: 120px;
}

.body .block1 .block1-bottom .mid em {
    line-height: 25px;
    text-align: justify;
}

.body .block1 .block1-bottom .mid {
    padding-bottom: 25px;
}

.body .block1-bottom .left-gap {
    padding-right: 89px;
}

.body .block1-bottom .mid-right-gap {
    padding-right: 36px;
}

.footer-top-gap {
    padding-top: 45px;
    padding-bottom: 57px;
}

.footer .footer-left-gap {
    padding-left: 3px;
}

.footer .logo {
    padding-left: 3px;
    padding-bottom: 27px;
}

.footer .side-content-left {
    display: inline-block;
    width: 363px;
}

.footer .phone-email {
    padding-top: 32px;
}

.footer .phone-email div {
    padding-bottom: 15px;
}

.footer .phone-email div:last-child {
    padding-bottom: 0px;
}

.footer .mid-content {
    
    padding-left: 37px;
}

.footer div.footer-mid-content {
    padding-right: 87px;
}

.footer div.footer-mid-content:last-child {
    padding-right: 0px;
}

.footer .footer-mid-content div.bottom {
    padding-left: 23px;
}

.footer .right-side-gap {
    padding-right: 82px;
}

.footer .heading-gap {
    padding-bottom: 24px;
}

.footer .side-content-right .text-date .text{
    width: 243px;   
}

.footer .side-content-right .text-date .text a {
    color: #cfe9e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footer .side-content-right .text-date .bottom {
    color: #62a8a2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 9px;
}

.footer .side-content-right .bottom img {
    padding-right: 18px;
}

.footer .side-content-right .footer-image-gap {
    padding-bottom: 20px;
}

.footer .footer-bottom .copyright div {
    padding-left: 3px;
}

.footer .social-share-icons div.left {
    padding-left: 40px;
    padding-top: 13px;
}

.footer .social-share-icons div.left:first {
    padding-left: 0px;
}

